$blue: #32608F
$alink: #ffffff
$alinkhover: #244566
$font: 'Trebuchet MS',Helvetica,Geneva,Arial,sans-serif

body
  font-family: $font

@mixin box-shadow-both
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);

@mixin navigation
  text-transform: uppercase
  font-weight: 700
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  ul
    background-color: $blue
    text-decoration: none
    padding: 0
    margin: 0
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    display: flex
    flex-direction: row
    margin: auto
    width: 100%
    li
      display: flex
      justify-content: center
      align-items: center
      font-size: 1.1rem
      a
        text-decoration: none
        color: $alink
        padding: .7rem 1rem
        &:hover
          background-color: $alinkhover

ul
  list-style: none

body
  padding: 0
  margin: 0

#page
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  
  header 
    display: flex
    flex-direction: row
    width: 100%
    margin: 0 auto
    background: url('../images/personalized-pics-1400x240.png') center center no-repeat
    
    .logo
      height: 172px
      background-color: $blue
      img
        width: 100px
    
    .topnav
      margin-top: -4rem
      margin-left: auto
      padding: 1rem
      @include navigation
            
  .nav-wrap
    display: flex
    align-items: flex-start 
    .global-nav
      @include navigation
      width: 100%
      
    section
      &.search
        margin-top: -3rem
        margin-left: -17.7rem
        @include box-shadow-both
        background-color: #F7D94F
        padding: 0.8rem
        width: 15rem 
        h2
          color: #333333
          padding: 0
          margin: 0
          font-size: 1rem
          text-transform: uppercase
        input
          margin: 0.5rem 0
          padding: 0.2rem
          outline: none

        label
          display: block
        button
          background-color: $blue
          outline: none
          border: none
          color: #e1e1e1
          padding: 0.2rem 0.5rem
  
  .content-wrap
    display: flex
    flex-direction: row
    margin: 0 auto
    width: 100%
    max-width: 1130px
    height: 100px
    background-color: red
