body {
  font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
}

ul {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

#page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
  background: url("../images/personalized-pics-1400x240.png") center center no-repeat;
}

#page header .logo {
  height: 172px;
  background-color: #32608F;
}

#page header .logo img {
  width: 100px;
}

#page header .topnav {
  margin-top: -4rem;
  margin-left: auto;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page header .topnav ul {
  background-color: #32608F;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 100%;
}

#page header .topnav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

#page header .topnav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: .7rem 1rem;
}

#page header .topnav ul li a:hover {
  background-color: #244566;
}

#page .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#page .nav-wrap .global-nav {
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#page .nav-wrap .global-nav ul {
  background-color: #32608F;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 100%;
}

#page .nav-wrap .global-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

#page .nav-wrap .global-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: .7rem 1rem;
}

#page .nav-wrap .global-nav ul li a:hover {
  background-color: #244566;
}

#page .nav-wrap section.search {
  margin-top: -3rem;
  margin-left: -17.7rem;
  -webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #F7D94F;
  padding: 0.8rem;
  width: 15rem;
}

#page .nav-wrap section.search h2 {
  color: #333333;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

#page .nav-wrap section.search input {
  margin: 0.5rem 0;
  padding: 0.2rem;
  outline: none;
}

#page .nav-wrap section.search label {
  display: block;
}

#page .nav-wrap section.search button {
  background-color: #32608F;
  outline: none;
  border: none;
  color: #e1e1e1;
  padding: 0.2rem 0.5rem;
}

#page .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 1130px;
  height: 100px;
  background-color: red;
}
/*# sourceMappingURL=style.css.map */