$blue: #32608F
$alink: #ffffff
$alinkhover: #244566
$font: 'Trebuchet MS',Helvetica,Geneva,Arial,sans-serif
$max-width: 1130px

body
  font-family: $font

@mixin box-shadow-both
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15)



ul
  list-style: none

body
  padding: 0
  margin: 0

#page
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%    

  header 
    display: flex
    padding-top: 1rem
    flex-direction: row
    width: 100%
    background: url('../images/personalized-pics-1400x240.png') center center no-repeat
    background-size: cover
    height: 12rem
    .inner-wrap
      width: 100%
      max-width: $max-width
      display: flex
      flex-direction: row
      margin: 0 auto
      padding-left: 1rem
      .logo
        height: 172px
        background-color: $blue
        img
          width: 100px
      
      .topnav
        text-transform: uppercase
        font-weight: 700
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        margin-top: -4rem
        margin-left: auto
        padding: 1rem

        ul
          display: flex
          flex-direction: row
          background-color: $blue
          text-decoration: none
          padding: 0
          margin: 0
          box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);

          li
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.1rem
            a
              text-decoration: none
              color: $alink
              padding: .7rem 1rem
              &:hover
                background-color: $alinkhover
               
  .nav-wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: $blue
    width: 100%
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    
    .global-nav
      display: flex
      flex-direction: row
      max-width: $max-width
      margin: 0 auto
      width: 100%
      height: 45px

      ul 
        flex: 1
        display: flex
        background-color: $blue
        text-decoration: none
        padding: 0
        margin: 0
        width: 100%

        li
          text-transform: uppercase
          display: flex
          justify-content: center
          align-items: center
          font-size: 1.1rem
          padding: 0 5%
          a
            text-decoration: none
            color: $alink
            padding: 0.7rem 0.2rem
            &:hover
              background-color: $alinkhover

    section
      &.search
        @include box-shadow-both
        background-color: #F7D94F
        max-width: 20rem
        height: 90px 
        padding: 1rem
        margin-top: -3rem
        margin-right: 1em

        h2
          color: #333333
          padding: 0
          margin: 0
          font-size: 1rem
          text-transform: uppercase
        input
          margin: 0.5rem 0
          padding: 0.2rem
          outline: none

        label
          display: block
        button
          background-color: $blue
          outline: none
          border: none
          color: #e1e1e1
          padding: 0.2rem 0.5rem
  
  
  .content-wrap
    display: flex
    justify-content: flex-start
    max-width: $max-width
    margin: 4rem auto
    width: 100%
    .add-book
      width: 30%
      max-width: $max-width
      padding: 0rem 1rem
      
      form
        display: flex
        flex-direction: column
        width: 90%   
        label
          font-weight: 700
          font-size: 0.9rem
          margin: 0 0 0.3rem 0.1rem
        input
          margin: 0 0 1rem 0
          padding: 0.5rem
          &.checkbox
            margin-top: 0.3rem
            width: auto
        button
          width: 30%
          padding: 0.5rem
          margin: 0.5rem 0 0

    .library
      width: 84%
      #results
        .bookEntry
          @include box-shadow-both
          border: 1px solid #c1c1c1
          border-radius: 0px
          padding: 1rem
          margin: 1.5rem 1.5rem 1.5rem 0   
          .book-del-btn
            float: right
          .title-info
            font-size: 1.2rem
            margin: 0
          .author-info
            font-size: 1rem
            margin: 0.3rem 0 0.8rem 
            font-style: oblique
          .pages-info
            margin: 0 0 0.8rem
            font-size: 0.9rem
            text-transform: uppercase
          .read-status
            margin: 0 
          .edit-btn
            margin: 0
        .shaded
          background-color: rgba(0, 0, 0, 0.04)

      

        button
          margin: 0.5rem 0 2rem
          padding: 0.3rem 0.6rem
          text-transform: uppercase
          font-size: 0.8rem
    
    .modal
      display: none
      position: fixed
      padding-top: 20rem
      left: 0;
      top: 0;
      width: 100%
      height: 100%
      background-color: rgb(0, 0, 0)
      background-color: rgba(0, 0, 0, 0.5)

      .modal-content
        position: relative
        background-color: #ffffff
        padding: 1.25rem
        margin: auto
        width: 50%
        min-width: 450px

        form
          display: flex
          flex-direction: column
          width: 90%   
          label
            font-weight: 700
            font-size: 0.9rem
            margin: 0 0 0.3rem 0.1rem
          input
            margin: 0 0 1rem 0
            padding: 0.5rem
            &.checkbox
              margin-top: 0.3rem
              width: auto
          button
            width: 30%
            padding: 0.5rem
            margin: 0.5rem 0 0



        .close-btn
          display: flex
          flex-direction: row
          text-align: right
          float: right 
          color: lightgray
          font-size: 24px  
          font-weight: bold
          width: 20px
        
        .close-btn:hover
          color: darkgray
          cursor: pointer
        
        @-webkit-keyframes animatetop
          0%
            top: -300px
            opacity: 1
          100%
            top: 0
            opacity: 1
        
        @keyframes animate
          0%
            top: -300px
            opacity: 1
          100%
            top: 0
            opacity: 1



@media (max-width: 850px)
  #page
    header
    .nav-wrap
      display: flex
      flex-direction: column
      justify-content: space-between
      background-color: $blue
      width: 100%
      box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2)
      
      .global-nav
        display: flex
        flex-direction: column
        margin: 0 auto
        width: 100%
        height: 40px

        ul 
          display: flex
          background-color: $blue
          text-decoration: none
          padding: 0
          margin: 0
          width: 100%

          li
            text-transform: uppercase
            display: flex
            justify-content: center
            align-items: center
            font-size: 1rem
            padding: 0 4%
            a
              text-decoration: none
              color: $alink
              padding: 0.7rem 0.2rem
              &:hover
                background-color: $alinkhover

      section
        &.search
          @include box-shadow-both
          background-color: #F7D94F
          width: 87%
          max-width: 100%
          height: 90px 
          padding: 1rem
          margin: 1rem auto

    .content-wrap
      width: 93%
      margin-top: 11rem
      padding: 0rem 0rem
      